{% extends "base.html" %}

{% block title %}Detail Produk - {{ items.name }}{% endblock %}

{% block content %}
  <p>
    <a href="{% url 'main:show_main' %}">
      <button>← Back to Items List</button>
    </a>
  </p>

  <h1>{{ items.name }}</h1>
  {% if items.thumbnail %}
    <img src="{{ items.thumbnail }}" alt="{{ items.name }}" width="300">
    <br><br>
  {% endif %}

  <h3>
    {% if items.sale_price %}
      Rp {{ items.sale_price }}
      <span style="text-decoration: line-through; color: gray;">Rp {{ item.price }}</span>
    {% else %}
      Rp {{ items.price }}
    {% endif %}
  </h3>

  {% if items.brand %}
    <p><b>Brand:</b> {{ items.brand }}</p>
  {% endif %}

  <p><b>Kategori:</b> {{ items.get_category_display }}</p>

  <p><b>Stok tersedia:</b> {{ items.stock }}</p>

  {% if items.user %}
    <p><b>Seller:</b> {{ items.user.username }}</p>
  {% else %}
    <p><b>Seller:</b> Anonymous</p>
  {% endif %}

  <h3>Deskripsi</h3>
  <p>{{ items.description|linebreaksbr }}</p>

{% endblock %}
<style>
    .old-price {
        text-decoration: line-through;
        color: gray;
    }